.main {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
}
.background__slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/homepage/image 6.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all .2s linear;
  animation: slide 20s infinite;
}
.main__content__wrapper {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  z-index: 22;
  position: relative;
}
.logo {
  position: absolute;
  top: 80px;
  left: 80px;
}
.page__title {
  font-size: 3.5rem;
}
.page__subtitle {
  font-size: 1.5rem;
  text-align: center;
}
.text__wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.page__desc {
  text-align: center;
}
.form {
  width: 100%;
  max-width: 700px;
}
.form__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.input::placeholder {
  color: #ffffff;
}
.green__button:hover {
  background-color: #ffffff;
  color: #2c5f2d;
  font-weight: 800;
}
.green__button {
  padding: 12px 24px;
  background: #2c5f2d;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all .3s linear;
  margin-top: 24px;
}
.input__error {
  border-color: red;
}
.error {
  text-align: left;
  width: 100%;
  color: red;
}
.checkbox {
  width: 100%;
  display: flex;
  gap: 16px;
}
.input__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}
@keyframes slide {
  0%{
    opacity: 0;
    background-image: url("./assets/images/homepage/image 6.png");
  }

  20%{
    opacity: 1;
    background-image: url("./assets/images/homepage/image 6.png");
  }
  25%{
    opacity: 0;
    background-image: url("./assets/images/homepage/image 6.png");
  }
  25.1%{
    opacity: 0;
    background-image: url("./assets/images/homepage/image 6 (1).png");
  }

  35%{
    opacity: 1;
    background-image: url("./assets/images/homepage/image 6 (1).png");
  }
  50%{
    opacity: 0;
    background-image: url("./assets/images/homepage/image 6 (1).png");
  }
  50.01%{
    opacity: 0;
    background-image: url("./assets/images/homepage/image 6 (2).png");
  }

  70%{
    opacity: 1;
    background-image: url("./assets/images/homepage/image 6 (2).png");
  }
  75%{
    opacity: 0;
    background-color: yellow;
    background-image: url("./assets/images/homepage/image 6 (2).png");
  }

  75.01%{
    opacity: 0;
    background-image: url("./assets/images/homepage/rtanj slika.png");
  }

  95%{
    opacity: 1;
    background-image: url("./assets/images/homepage/rtanj slika.png");
  }
  100%{
    opacity: 0;
    background-image: url("./assets/images/homepage/rtanj slika.png");
  }
}